:root {
    --primary-color: #0f9d58;
    --gray: #888;
    /* size */
    --borderS: 1px solid;
    --borderM: 2px solid;
    --borderL: 3px solid;
    --borderxl: 4px solid;


    --success-color: #0f9d58;
    --textWhite-color: #fff;
    --bg-color: #fff;
    --box-shadow: 0 0 5px 3px rgb(0 0 0 / 15%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    margin: 0;
    padding: 0;
}

.icon {
    color: var(--primary-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    color: #fff;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
}

.btn:hover {
    background-color: var(--primary-color);
}

.container-fluid{
    padding: 0;
}
#app{
    
}
.wrapper{
    width: 1500px;
    margin: 0 auto;
    content: "";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo img{
    width: 50%;
}


 /* Navbar fixed  */
.navbar--fixed{
    z-index: 999;
    background-color: var(--bg-color);
    /* box-shadow: var(--box-shadow); */
}
.navbar--fixed .menu .nav {

}

.navbar--fixed .menu .nav-link{
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px 15px;
}
.navbar--fixed .menu .nav-link:hover{
   color: var(--success-color);
}

.navbar--fixed  .menu > ul > li > a > i{
    font-size: 1rem;
}
    /* Subnav */
.navbar--fixed .menu .subnav__fullwhith,
.navbar--fixed .menu  .subnav{
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 999;
    width: 245px;
    padding-left: 0;
    box-shadow: var(--box-shadow);
}
.navbar--fixed .menu .subnav a{
    display: block;
    color: #000;
    padding: 10px;
}

.navbar--fixed  .menu .subnav__fullwhith{
    left: 0;
    width: 100%;
}
.navbar--fixed  .menu .subnav__fullwhith a{
   display: block;
}

.navbar--fixed .menu .nav-item:hover .subnav__fullwhith{
    display: flex;
}
.navbar--fixed .menu .nav-item:hover .subnav{
    display: block;
}
.navbar--fixed > .menu .subnav a{
    display: block;
    color: #000;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 5px 10px;
}

.log-in .dropdown .dropdown-item:hover,
.navbar--fixed .subnav a:hover{
    background-color: var(--success-color);
    color: var(--textWhite-color);
}

/* User */
.user{
    display: flex;
    justify-content: right;
}
.user > div{
    padding: 15px;
}
.user .dropdown .drop__btn{
    background-color: var(--textWhite-color);
    border: none;
}
.user .dropdown .dropdown-menu a:hover{
    background-color: var(--success-color);
    color: var(--textWhite-color);
}
.user .dropdown img{
    width: 20px;
}

