
:root {
    --success-color: #0f9d58;
    --textWhite-color: #fff;
    --bg-color: #fff;
    --box-shadow: 0 0 5px 1px rgb(0 0 0 / 15%);
}
.container-fluid{
    padding: 0;
}
#app{
    
}
.wrapper{
    width: 1500px;
    margin: 0 auto;
    content: "";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo img{
    width: 50%;
}


 /* Navbar fixed  */
.navbar--fixed{
    z-index: 999;
    background-color: var(--bg-color);
    /* box-shadow: var(--box-shadow); */
}
.navbar--fixed .menu .nav {

}

.navbar--fixed .menu .nav-link{
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px 15px;
}
.navbar--fixed .menu .nav-link:hover{
   color: var(--success-color);
}

.navbar--fixed  .menu > ul > li > a > i{
    font-size: 1rem;
}
    /* Subnav */
.navbar--fixed .menu .subnav__fullwhith,
.navbar--fixed .menu  .subnav{
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 999;
    width: 245px;
    padding-left: 0;
    box-shadow: var(--box-shadow);
}
.navbar--fixed .menu .subnav a{
    display: block;
    color: #000;
    padding: 10px;
}

.navbar--fixed  .menu .subnav__fullwhith{
    left: 0;
    width: 100%;
}

.navbar--fixed .menu .nav-item:hover .subnav__fullwhith{
    display: flex;
}
.navbar--fixed .menu .nav-item:hover .subnav{
    display: block;
}
.navbar--fixed > .menu .subnav a{
    display: block;
    color: #000;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 5px 10px;
}

.log-in .dropdown .dropdown-item:hover,
.navbar--fixed .subnav a:hover{
    background-color: var(--success-color);
    color: var(--textWhite-color);
}

/* Log in */
.navbar--fixed .log-in {
    text-align: right;
}
.navbar--fixed .log-in .dropdown{
    display: inline-block;
    /* padding: 10px; */
}

.navbar--fixed .log-in img{
    max-width: 25px;
    margin-left: 1rem;
}


