:root {
  --success-color: #0f9d58;
  --textWhite-color: #fff;
  --bg-color: #fff;
}
@media (max-width: 769px) {
  .service {
    border: none;
  }
  .service .col-xl-3:not(:last-child) {
    border: none;
  }
  .service-item {
    margin-bottom: 20px;
    padding: 10px;
    border: var(--borderS) rgba(161, 161, 161, 0.2);
  }
}

/* Category */
.category {
  padding: 15px 0px;
}

.category .category--tags .tags--dd--btn {
  width: 100%;
  background-color: #fff;
  border: 2px solid #eee;
  padding: 10px 0px;
  border-radius: 3px;
  cursor: pointer;
}
.category .category--tags .dropdown-menu {
  width: 100%;
}
.category .category--tags .dropdown button:focus {
  /* border: none; */
}
.category .category--tags .dropdown-menu li:hover a {
  background-color: var(--success-color);
  color: var(--textWhite-color);
}

.category .category--search .search-dd-btn {
  padding: 12px;
  color: var(--textWhite-color);
  background-color: var(--success-color);
  border: none;
  border-radius: 3px;
}

.category .category--search--dd .search--box input {
  width: 85%;
  padding: 11px;
}
.category .category--search--dd .search--box button {
  padding: 13px 15px;
  border: none;
  border-radius: 2px;
  background-color: var(--success-color);
  color: var(--textWhite-color);
  cursor: pointer;
}

/* Slider */
.slider {
  /* max-height: 500px; */
  width: 100%;
}
.slider img {
  max-height: 700px;
}
.slider .carousel-item .carousel-caption {
  align-items: center;
  padding-bottom: 5rem;
}
.service {
  border: var(--borderS) rgba(161, 161, 161, 0.2);
  border-radius: 3px;
  padding: 20px;
}

.service .col-xl-3:not(:last-child) {
  border-right: var(--borderS) rgba(161, 161, 161, 0.2);
}

.service-item {
  display: flex;
  width: 100%;
}

.service-item .icon {
  width: 20%;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.service-item .info {
  flex: 1;
  margin: auto;
}

/* detail-product */
.detail-product {
  margin: 30px 0;
}
.product-slick {
  width: 100%;
  overflow-x: hidden;
  padding: 0 40px;
}
.product-cover img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  padding: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.product-info {
}
.product-info .stars {
  font-size: 15px;
  color: var(--gray);
  margin: 10px 0;
}
.product-info .price {
  padding: 10px 0;
}

.product-info .price .old {
  color: var(--gray);
  font-size: 15px;
}
.product-info .price .new {
  color: var(--primary-color);
  font-size: 20px;
  padding: 0 5px;
}
.product-info .price .label {
  font-size: 15px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 5px 15px;
}
.product-info .description-short {
  margin: 10px 0;
  list-style: unset;
}

.product-info .description-short li {
  line-height: 30px;
  font-weight: 400;
}

.product-info .label {
  min-width: 150px;
  max-width: 180px;
  color: var(--gray);
  font-size: 20px;
}

.product-info .size,
.color,
.quantity {
  display: flex;
  margin: 20px 0;
}
.product-info .size select {
  padding: 5px 10px;
  border: 1px solid var(--gray);
}
.product-info .color span {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.product-info .color span.active {
  border: 2px solid var(--primary-color);
}

.product-info .quantity {
  display: flex;
  align-items: center;
}

.product-info .quantity .input {
  display: flex;
}

.product-info .quantity .input input {
  width: 40px;
  outline: none;
  text-align: center;
  border: 1px solid var(--primary-color);
}

.product-info .quantity .input .control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  margin: 0 20px 0 0;
  background-color: var(--primary-color);
  color: #fff;
}

.product-info .quantity .input .control i {
  cursor: pointer;
}
.product-info .quantity .btn {
  width: 200px;
  border-radius: 0;
  color: var(--primary-color);
  background-color: #fff;
  box-shadow: rgb(159 162 191 / 18%) 0px 19px 23px,
    rgb(159 162 191 / 32%) 0px 2px 5px;
}
.product-info .quantity .btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.product-info .sosials img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  margin: 0 5px;
}

.product-info .sosials .facebook {
  background-color: #337ab7;
}

.product-info .sosials .twiter {
  background-color: #5bc0de;
  padding: 5px;
}
.product-info .sosials .pinterest {
  background-color: #c92228;
}
.product-info .sosials .facebook {
  background-color: #337ab7;
}
.product-info .service {
  border: none;
}
.product-info .service .service-item {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(230, 230, 230);
  border-left: 3px solid var(--gray);
}
.product-info .service .service-item i {
  width: 30px;
  color: var(--primary-color);
}

.product-info .service .service-item p {
  font-weight: 400;
}

.description-product {
  margin: 30px 0;
}
.description-product .title {
  line-height: 100px;
}
.description-product .content {
  margin: 10px 0;
}
.description-product ul {
  list-style: unset;
  margin-left: 40px;
}
.description-product ul li {
  line-height: 35px;
}

.relate-product .title {
  text-align: center;
}

.relate-product .category-product__wrap {
  border: none;
}

/* footer */
.footer-widget p {
  margin-bottom: 27px;
}
p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #f5b02e;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #eef0ef;
  border-left-color: #eef0ef;
}

.animate-border.border-offwhite:after {
  border-right-color: #f7f9f8;
  border-left-color: #f7f9f8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
