.service {
  border: var(--borderS) rgba(161, 161, 161, 0.2);
  border-radius: 3px;
  padding: 20px;
}
.service .col-xl-3:not(:last-child) {
  border-right: var(--borderS) rgba(161, 161, 161, 0.2);
}
.service-item {
  display: flex;
  width: 100%;
}
.service-item .icon {
  width: 20%;
  font-size: 20px;
  margin: auto;
  text-align: center;
}
.service-item .info {
  flex: 1;
  margin: auto;
}


/* section deal and product */
.deal-product {
  padding: 30px 0;
}
.deal-wrap {
  width: 100%;
  overflow: hidden;
  border: 2px solid var(--primary-color);
  position: relative;
  padding: 20px;
}

.deal-wrap__head {
  border-bottom: 1px solid rgb(204, 201, 201);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px;
    color: var(--primary-color);
}


.deal-day__img {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid rgb(204, 201, 201);
  border-bottom:  1px solid rgb(204, 201, 201);
  position: relative;
}

.deal-day__img::after {
    content: "20%";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: #e14546;
    color: #fff;
    top: 5px;
    left: 5px;
}
.deal-day__img:hover .deal-day__img-item1 {
display: none;
}
.deal-day__img:hover .deal-day__img-item2 {
   display: block;
}
.deal-day__img img {
  width: 100%;
}

.deal-day__img-item2 {
   display: none;
}

.deal-day__title {
    color: var(--gray);
    margin: 10px 0;
}
.deal-day__title:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.deal-day__price {
    width: 100%;
}
.deal-day__price .new {
    color: var(--primary-color);
    font-size: 20px;
}

.deal-day__price .old {
    color: var(--gray);
    font-size: 16px;
}

.deal-day__info-prosess {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    position: relative;
    margin-bottom: 30px;
}

.deal-day__info-prosess::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: var(--gray);
    border-radius: 10px;
    top: 130%;
}
.deal-day__info-prosess span {
    color: #000;
    font-weight: 500;
}
.deal-day__txt-offer {
    color: var(--gray);
    font-size: 15px;
}

.deal-day__time {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  margin: 20px 0;
}
.deal-day__time-item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    opacity: .7;
    border-radius: 50%;
}

/* responsive */
@media (max-width: 769px) {
    .service {
      border: none;
    }
    .service .col-xl-3:not(:last-child) {
      border: none;
    }
    .service-item {
      margin-bottom: 20px;
      padding: 10px;
      border: var(--borderS) rgba(161, 161, 161, 0.2);
    }
  }
  