
:root {
  --success-color: #0f9d58;
  --textWhite-color: #fff;
  --bg-color: #fff;
}
@media (max-width: 769px) {
  .service {
    border: none;
  }
  .service .col-xl-3:not(:last-child) {
    border: none;
  }
  .service-item {
    margin-bottom: 20px;
    padding: 10px;
    border: var(--borderS) rgba(161, 161, 161, 0.2);
  }
}

/* Slider */
.slider {
    max-height: 900px;
    /* width: 100%; */
  }
  .slider img {
    max-height: 700px;
  }
  .slider .carousel-item .carousel-caption {
    align-items: center;
    padding-bottom: 5rem;
  }
  .service {
    box-shadow: rgb(159 162 191 / 18%) 0px 19px 23px, rgb(159 162 191 / 32%) 0px 2px 5px;
      border-radius: 3px;
      padding: 20px;
  }
  
  .service .col-xl-3:not(:last-child) {
      border-right: var(--borderS) rgba(161, 161, 161, 0.2);
  }
  
  .service-item {
      display: flex;
      width: 100%;
  }
  
  .service-item .icon {
      width: 20%;
      font-size: 20px;
      margin: auto;
      text-align: center;
  }
  
  .service-item .info {
      flex: 1;
      margin: auto;
  }


/* Start search products*/
.search-prod{
    padding: 15px 0px;
}
.search-prod .drop__btn{
    border: 2px solid var(--success-color);
    padding: 9px 5px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}
.search-prod .category--tags .drop__btn{
    background-color: var(--bg-color);
}
.search-prod .category--tags .dropdown-menu{
    width: 100%;
}
.search-prod .dropdown-menu .dropdown-item:hover{
    background-color: var(--success-color);
    color: var(--textWhite-color);
}
.search-prod .dropdown-menu .dropdown-item{
    padding: 9px;
}
.search-prod .category--search .category--search--dd .drop__btn{
    background-color: var(--success-color);
    color: var(--textWhite-color);
}
.search-prod .category--search .category--search--dd .search--box input{
    border: 2px solid var(--success-color);
    padding: 9px 5px;
    border-radius: 3px;
    width: 70%;
}
.search-prod .category--search .category--search--dd .search--box button{
    padding: 9px;
    color: var(--textWhite-color);
    background-color: var(--success-color);
    border: 2px solid var(--success-color);
}
    /* Shopping cart */
.search-prod .shopping-cart{
    /* text-align: right; */
}
.search-prod .shopping-cart img{
    max-width: 40px;
}
.search-prod .shopping-cart .quantity{
    position: relative;
    top: -10px;
    left: -10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #e14546;
    color: var(--textWhite-color);
    border-radius: 50%;
    text-align: center;
}
/* End search products */


/* section deal and product */

.deal-product {
    padding: 30px 0;
}

.deal-wrap {
    width: 100%;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    position: relative;
    padding: 20px;
    box-shadow: rgb(159 162 191 / 18%) 0px 19px 23px, rgb(159 162 191 / 32%) 0px 2px 5px;
}

.deal-wrap__head {
    border-bottom: 1px solid rgb(204, 201, 201);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px;
    color: var(--primary-color);
}

.deal-day__img {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid rgb(204, 201, 201);
    border-bottom: 1px solid rgb(204, 201, 201);
    position: relative;
}

.deal-day__img::after {
    content: "20%";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: #e14546;
    color: #fff;
    top: 5px;
    left: 5px;
}

.deal-day__img:hover .deal-day__img-item1 {
    display: none;
}

.deal-day__img:hover .deal-day__img-item2 {
    display: block;
}

.deal-day__img img {
    width: 100%;
}

.deal-day__img-item2 {
    display: none;
}

.deal-day__title {
    color: var(--gray);
    margin: 10px 0;
}

.deal-day__title:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.deal-day__price {
    width: 100%;
}

.deal-day__price .new {
    color: var(--primary-color);
    font-size: 20px;
}

.deal-day__price .old {
    color: var(--gray);
    font-size: 16px;
}

.deal-day__info-prosess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    position: relative;
    margin-bottom: 30px;
}

.deal-day__info-prosess::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: var(--gray);
    border-radius: 10px;
    top: 130%;
}

.deal-day__info-prosess span {
    color: #000;
    font-weight: 500;
}

.deal-day__txt-offer {
    color: var(--gray);
    font-size: 15px;
}

.deal-day__time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.deal-day__time-item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    opacity: .7;
    border-radius: 50%;
}

.category-products {
    padding: 20px;
}

.category-products__nav {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.category-products__nav h3 {
    display: inline;
    padding: 0 10px 10px;
    color: var(--gray);
    font-weight: 400;
    cursor: pointer;
}

.category-products__nav h3.active {
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
}

.category-products__nav h3.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
}

.category-product__wrap {
    width: 100%;
    border: var(--borderS) rgb(233, 231, 231);
}

.swiper-wrapper.row {
    flex-wrap: nowrap;
}

.category-product__item {
    width: 100%;
    padding: 10px;
    text-align: center;
    position: relative;
}

.category-product__item img {
    width: 100%;
}

.category-product__item .title {
    font-size: 12px;
    color: var(--gray);
    width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.category-product__item .price {
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 400;
}

.category-product__item-moda {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.category-product__item-moda,
.category-product__item-moda .favorite-icon,
.category-product__item-moda .btn,
.category-product__item-moda .btn.view,
.category-product__item-moda .btn.cart,
.category-product__item-moda .stars {
    opacity: 0;
    transform: scale(0);
}

.category-product__item:hover .category-product__item-moda,
.category-product__item-moda .favorite-icon,
.category-product__item-moda .btn,
.category-product__item-moda .btn.view,
.category-product__item-moda .btn.cart,
.category-product__item-moda .stars {
    transition: transform .3s ease;
    opacity: 1;
    transform: scale(1);
}

.category-product__item-moda .favorite-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 20%;
    height: 20%;
    font-weight: 400;
    color: var(--primary-color);
}

.category-product__item-moda .btn {
    position: absolute;
    top: 40%;
    color: #fff;
}

.category-product__item-moda .btn.view {
    left: 20%;
    position: relative;
}

.category-product__item-moda .btn.view span {
    position: absolute;
    background-color: #000;
    color: #fff;
    top: -100%;
    left: -17px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 2px;
    /* transform: translateY(10px); */
    display: none;
    /* opacity: 0; */
}

.category-product__item-moda .btn.view span::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 47%;
    width: 5px;
    height: 5px;
    background-color: #000;
    clip-path: polygon(100% 0, 0 0, 50% 70%);
}

.category-product__item-moda .btn.view:hover .category-product__item-moda .btn.view>span {
    /* transform: translateY(0); */
    display: block;
}


/* .category-product__item-moda .btn.view:hover */

.category-product__item-moda .btn.cart {
    left: 55%;
}

.category-product__item-moda .stars {
    position: absolute;
    bottom: 5%;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.category-product__item-moda .stars i {
    font-size: 12px;
    color: var(--primary-color);
}

.promotion {
    --height: 50px;
    width: 100%;
    height: var(--height);
    color: #fff;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(159 162 191 / 18%) 0px 19px 23px, rgb(159 162 191 / 32%) 0px 2px 5px;

}

.promotion__title {
    margin: 0;
    font-size: 15px;
    line-height: var(--height);
}

.promotion__title.active {
    color: #f22a2a;
}

.topSell-category {
    margin: 30px 0;
}

.topSell-category .category-product__wrap {
    border: unset;
}

.topSell-category__left {
    display: flex;
    position: relative;
}

.topSell-category__left .title {
    width: 100%;
    font-size: 20px;
    margin: auto;
}

.topSell-category__left .control .swiper-button-next,
.topSell-category__left .control .swiper-button-prev {
    top: 80%;
}

.home-banner {
    width: 100%;
    text-align: center;
}

.home-banner .banner-snack {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.home-banner .banner-herb {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.toppic {
    width: 100%;
    margin: 50px 0;
}

.toppic-slide {
    width: 100%;
    margin: 30px;
}

.toppic-item {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toppic-item .image {
    width: 30%;
    height: 100%;
}

.toppic-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.toppic-item .image img.img2 {
    display: none;
}

.toppic-item .info {
    padding: 0 5px;
}

.toppic-item .info .info__title {
    font-size: 13px;
    font-weight: 400;
    color: var(--gray);
}

.toppic-item .info .info__title:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.toppic-item .info .info__price {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
}

.toppic-item .info .info__stars i {
    font-size: 13px;
    color: var(--primary-color);
}

.toppic-item .info .info__price .new {
    font-size: 22px;
    color: var(--primary-color);
    font-weight: 500;
}

.toppic-item:hover .image .img1 {
    display: none;
}

.toppic-item:hover .image .img2 {
    display: block;
}

.home-banner.contact {
    position: relative;
}

.home-banner.contact .send-email {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner.contact .send-email .send-email-item {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
}

.home-banner.contact .send-email input {
    flex: 1;
    border: none;
    outline: unset;
    background-color: #fff;
    padding-left: 20px;
}

.home-banner.contact .send-email .btn {
    width: 20%;
    border-radius: unset;
    color: #fff;
    height: 100%;
}

.recently-wiewed {
    margin: 50px 0;
}

.recently-wiewed .category-product__wrap {
    border: unset;
}



@media only screen and (max-width: 600px) {
  .category .category--search--dd .search--box input {
    max-width: 300px;
  }
  .category .category--search .search-dd-btn {
    max-width: 300px;
  }
}
